%p= I18n.t('mailers.hi')

%p= I18n.t('mailers.backup.body')

%p
  = I18n.t('mailers.accounts_viewer_instructions')
  = succeed '.' do
    %a{ :href => "#{root_url}#{ACCOUNTS_VIEWER_FILENAME}" }= I18n.t('mailers.accounts_viewer')

%p= I18n.t('mailers.thanks_passmaster')
