%p= I18n.t('mailers.hi')

%p= I18n.t('mailers.master_password_changed.body1')

%p= I18n.t('mailers.master_password_changed.body2')

%p
  = I18n.t('mailers.accounts_viewer_instructions')
  = succeed '.' do
    %a{ :href => "#{root_url}#{ACCOUNTS_VIEWER_FILENAME}" }= I18n.t('mailers.accounts_viewer')

%p{ :style => 'font-weight: bold;' }= I18n.t('mailers.unexpected_change')

%p= I18n.t('mailers.thanks_passmaster')

%p Reference ID: #{@user_id}
