%p= I18n.t('mailers.hi')

%p= I18n.t('mailers.verify_email.body1')

%p
  = I18n.t('mailers.verify_email.body2')
  = succeed '.' do
    = link_to(I18n.t('mailers.verify_email.access_account'), @website_url)

%p
  = I18n.t('mailers.verify_email.verification_code')
  %strong= @code

%p= link_to(@verification_url, @verification_url)

%p= I18n.t('mailers.thanks_passmaster')
