#accounts.container{ :style => 'display:none;' }
  .top-links
    .pull-left
      %button.btn.btn-warning{ :type => 'button', 'data-logout' => 'true', :title => 'Logout' }
        %i.icon-off.icon-white
    .pull-right
      %img#refresh_spinner{ :src => '/img/spinner.gif', :alt => 'spinner', :style => 'display:none;' }
      = link_to(users_path, :remote => true, :id => 'refresh_link', :class => 'btn', :title => 'Refresh') do
        %i.icon-refresh
      #settings_btn.btn-group{ :style => 'display:none;' }
        %button.btn.dropdown-toggle{ :type => 'button', :title => 'Settings', 'data-toggle' => 'dropdown' }
          %i.icon-cog
          %span.caret
        %ul.dropdown-menu
          %li
            %a#preferences_link{ :href => '#' } Preferences
          %li
            %a#change_email_link{ :href => '#' } Email Address
          %li
            %a#master_password_link{ :href => '#' } Master Password
          %li.divider
          %li
            %a#backup_accounts_link{ :href => '#' } Backup
          %li
            %a#restore_accounts_link{ :href => '#' } Restore
      %button#lock_btn.btn{ :type => 'button', :title => 'Lock', :style => 'display:none;' }
        %i.icon-lock
    .clearfix

  .well
    %h2
      Accounts
      %small#accounts_email_placeholder

    #verify_email_notice.pushed-down{ :style => 'display:none;' }
      .alert.alert-info
        You need to
        %strong
          %a{ :href => '#' } Verify Your Email Address
        to make changes to your accounts.

    #unlock_accounts.pushed-down{ :style => 'display:none;' }
      %p Accounts are locked. Enter the Master Password to unlock.
      %form#unlock_accounts_form
        %p= password_field_tag(:passwd, '', :placeholder => 'Master Password', :class => 'input-xlarge', :id => 'unlock_accounts_passwd', :required => true)
        %p= submit_tag('Unlock', :class => 'btn btn-primary', :id => 'unlock_accounts_btn')

  #accounts_list{ :style => 'display:none;' }
    %p
      %button#add_account_btn.btn.btn-success{ :type => 'button' } Add Account
    %p
      = text_field_tag(:search, '', :placeholder => 'Type to Search', :autocomplete => 'off', :autocorrect => 'off', :autocapitalize => 'off', :class => 'input-medium', :id => 'accounts_list_search')
      %button#show_all_tiles_btn.btn{ :type => 'button' } Show All
    %p
      %span.num-accounts
        Showing
        %span#num_accounts{ 'data-count' => 0 }
        of
        %span#total_accounts{ 'data-count' => 0 }
        Accounts
    #account_tiles
      .account-tile.template.pull-left{ :style => 'display:none;' }
        .account-tile-inner
          .read
            %table
              %thead
                %tr
                  %th.account{ :colspan => '2' }
                  %th.edit-link
                    %button.btn.btn-primary{ :type => 'button', 'data-account-edit' => 'true' }
                      %i.icon-edit.icon-white
              %tbody
                %tr
                  %td.field-label U:
                  %td{ :colspan => '2' }
                    .click-to-select
                      %input.username.input-block-level{ :type => 'text', :name => 'username' }
                %tr
                  %td.field-label P:
                  %td{ :colspan => '2' }
                    .click-to-show
                      %input.password.input-block-level{ :type => 'text', :name => 'password', 'data-password-visible' => 'false', 'data-default-value' => 'click to show' }
                %tr.no-notes
                  %td{ :colspan => '3' } No Notes
                %tr.notes{ :style => 'display:none;' }
                  %td{ :colspan => '3' }
                    %a{ :href => '#', 'data-show-notes' => 'true' } Show Notes
                    .notes{ :style => 'display:none;' }
                      %p.notes
          .write
            %form
              %table
                %tbody
                  %tr
                    %td.field-label A:
                    %td
                      %input.account.input-block-level{ :type => 'text', :name => 'account', :placeholder => 'Account Name', :required => true }
                  %tr
                    %td.field-label W:
                    %td
                      %input.url.input-block-level{ :type => 'url', :name => 'url', :placeholder => 'Website URL', :autocomplete => 'off', :autocorrect => 'off', :autocapitalize => 'off' }
                  %tr
                    %td.field-label U:
                    %td
                      %input.username.input-block-level{ :type => 'text', :name => 'username', :placeholder => 'Username', :autocomplete => 'off', :autocorrect => 'off', :autocapitalize => 'off' }
                  %tr
                    %td.field-label P:
                    %td
                      %input.password.input-block-level{ :type => 'text', :name => 'password', :placeholder => 'Password', :autocomplete => 'off', :autocorrect => 'off', :autocapitalize => 'off' }
                  %tr
                    %td{ :colspan => '2' }
                      .form-inline
                        %button.btn.btn-inverse{ :type => 'button', 'data-password-generator' => 'true' } Generate
                        %label Length
                        %select.password-length.input-mini
                          - 6.upto(32).each do |i|
                            %option{ :value => i }= i
                      .form-inline
                        %label.checkbox
                          %input.special-characters{ :type => 'checkbox', :checked => 'checked' }
                          %span Special Characters
                  %tr
                    %td{ :colspan => '2' }
                      %textarea.notes.input-block-level{ :name => 'notes', :placeholder => 'Notes', :rows => '3' }
                  %tr
                    %td{ :colspan => '2' }
                      .actions
                        %input.btn.btn-primary{ :type => 'submit', :name => 'commit', :value => 'Save' }
                        %button.btn{ :type => 'button', 'data-cancel' => 'true' } Cancel
                        %button.btn.btn-danger.pull-right{ :type => 'submit', 'data-account-delete' => 'true', :style => 'display:none;' } Delete
                        .clearfix
          .update{ :style => 'display:none;' }
            = form_tag(users_path, :method => :put, :remote => true, :id => nil) do
              = hidden_field_tag(:api_key, '', :id => nil, :class => 'api-key')
              = hidden_field_tag(:encrypted_data, '', :id => nil, :class => 'encrypted-data')
              = hidden_field_tag(:schema_version, '', :id => nil, :class => 'schema-version')
    .clearfix
