.container#accounts{ :style => 'display:none;' }
  = render 'logout'
  .well
    %h1
      Accounts
      %small#accounts_email_placeholder

    #unlock_accounts{ :style => 'display:none;' }
      %p Accounts are locked. Enter the master password to unlock.
      = form_tag('#', :id => 'unlock_accounts_form') do
        %p= password_field_tag(:passwd, '', :placeholder => 'Master Password', :class => 'input-xlarge', :id => 'unlock_accounts_field')
        %p= submit_tag('Unlock', :class => 'btn btn-primary btn-large', :id => 'unlock_accounts_btn')

  #accounts_list{ :style => 'display:none;' }
    %p= text_field_tag(:search, '', :placeholder => 'Search', :class => 'input-xlarge', :id => 'accounts_list_search')
    #account_tiles
      .account-tile.template{ :style => 'display:none;' }
        .account
          %strong
            A:
            %span
        .pull-left
          .info
            .username
              U:
              %span
            .password
              P:
              %a{ :href => '#', 'data-password' => 'passwd' } show
              %span
        .pull-right
          .links
            %a.btn.btn-primary.btn-small.edit{ :href => '#' } Edit
            %a.btn.btn-danger.btn-small.delete{ :href => '#' } Delete
        .clearfix
        .notes
          %pre
