#accounts.container{ :style => 'display:none;' }
  .pull-right
    = link_to('Reload', users_path, :remote => true, :format => :json, :id => 'reload_link')
    %span{ :id => 'reload_spinner', :style => 'display:none;' } Reloading
    |
    %a{ :href => '#', 'data-logout' => 'true' } Logout
  .clearfix

  .well
    %h1
      Accounts
      %small#accounts_email_placeholder

    #unlock_accounts{ :style => 'display:none;' }
      %p Accounts are locked. Enter the Master Password to unlock.
      %form{ :id => 'unlock_accounts_form' }
        %p= password_field_tag(:passwd, '', :placeholder => 'Master Password', :class => 'input-xlarge', :id => 'unlock_accounts_passwd', :required => 'true')
        %p= submit_tag('Unlock', :class => 'btn btn-primary btn-large', :id => 'unlock_accounts_btn')

  #accounts_list{ :style => 'display:none;' }
    %p
      = button_tag('Add Account', :class => 'btn btn-success btn-small', :id => 'add_account_btn')
      = button_tag('Set Master Password', :class => 'btn btn-inverse btn-small', :id => 'set_master_password_btn')
    %p= text_field_tag(:search, '', :placeholder => 'Search', :autocomplete => 'off', :class => 'input-xlarge', :id => 'accounts_list_search')
    #account_tiles
      .account-tile.pull-left.template{ :style => 'display:none;' }
        .read
          .account
            %strong
              A:
              %span
          .pull-left
            .info
              .username
                U:
                %span
              .password
                P:
                %a{ :href => '#', 'data-password' => 'true' } show
                %span
          .pull-right
            .edit-link
              %button.btn.btn-primary.btn-small{ :type => :submit, 'data-account-edit' => 'true' } Edit
          .clearfix
          .notes
            %pre
        .write
          %form
            .account.input-prepend
              %span.add-on A:
              %input{ :type => :text, :name => :account, :placeholder => 'Account Name', :required => 'true' }
            .username.input-prepend
              %span.add-on U:
              %input{ :type => :text, :name => :username, :placeholder => 'Username', :autocomplete => 'off' }
            .password.input-prepend.input-append
              %span.add-on P:
              %input{ :type => :text, :name => :password, :placeholder => 'Password', :autocomplete => 'off' }
              %button.btn{ :type => 'button', 'data-password-generator' => 'true' } Generate
            .notes
              %textarea.input-block-level{ :name => :notes, :placeholder => 'Notes', :rows => '3' }
            .actions
              %input.btn.btn-primary.btn-small{ :type => :submit, :name => :commit, :value => 'Save' }
              %a.btn.btn-small{ :href => '#', 'data-cancel' => 'true' } Cancel
              %button.btn.btn-danger.btn-small.pull-right{ :type => :submit, 'data-account-delete' => 'true', :style => 'display:none;' } Delete
              .clearfix
        .update{ :style => 'display:none;' }
          = form_tag(users_path, :method => :put, :remote => true, :format => :json, :id => nil) do
            = hidden_field_tag(:api_key, '', :id => nil, :class => 'api-key')
            = hidden_field_tag(:encrypted_data, '', :id => nil, :class => 'encrypted-data')
    .clearfix
