#verify.container{ :style => 'display:none;' }
  .top-links
    .pull-left
      %button.btn.btn-warning{ :type => 'button', 'data-wipe-data' => 'true' } Wipe Data
    .clearfix

  .well
    = render 'read_only'
    %h1
      Verify
      %small#verify_email_placeholder
    %p You need to verify your email address to use Passmaster.
    .pushed-down
      %p Enter your verification code below or request a new one.
      = form_tag(users_path, :method => :put, :remote => true, :id => 'verify_form') do
        %p= text_field_tag(:verification_code, '', :placeholder => 'Verification Code', :class => 'input-xlarge', :id => 'verify_verification_code', :required => 'true')
        %p= submit_tag('Verify', :class => 'btn btn-primary btn-large', :id => 'verify_btn')
      %p= link_to('Send New Code', users_path, :class => 'btn', :id => 'verify_send_code_link', :remote => true, :method => :post)
