#alert_messages.container
  #offline_mode.alert.alert-error{ :style => 'display:none;' }
    %strong Connection Failed!
    Offline-mode enabled.
    %a.reload-link{ :href => '#' } Try reconnecting...

  #idle_timeout.alert.alert-info{ :style => 'display:none;' }
    %strong Idle Alert!
    Accounts will automatically lock in one minute due to inactivity.

  #cache_update_ready.alert.alert-info{ :style => 'display:none;' }
    %strong New Updates Available!
    %a.reload-link{ :href => '#' } Reload
    the page to start using the latest version.

= render 'overview'
= render 'verify'
= render 'configure'
= render 'settings'
= render 'accounts'

= link_to('', init_session_path, :remote => true, :id => 'init_session_link', :style => 'display:none;')

= form_tag(otp_sessions_path, :method => :post, :remote => true, :id => 'otp_session_form', :style => 'display:none;') do
  = hidden_field_tag(:user_id, '', :id => 'otp_session_user_id')
  = hidden_field_tag(:api_key, '', :id => 'otp_session_api_key')
  = hidden_field_tag(:otp, '', :id => 'otp_session_otp')
